#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Original files contributed to OpenSolaris.org under license by the
# United States Government (NSA) to Sun Microsystems, Inc.
#

#################################
#
# Rules for the apmd_t domain.
#
type apmd_t, domain, privlog;
type apmd_exec_t, file_type, sysadmfile, exec_type;
type apm_bios_t, file_type;

# Use capabilities.
allow apmd_t self:capability { sys_admin };

# Inherit and use descriptors from init.
allow apmd_t init_t:fd inherit_fd_perms;

# Use a pipe created by initrc_t.
allow apmd_t initrc_t:pipe rw_file_perms;

# Access /dev/apm_bios.
allow apmd_t apm_bios_t:chr_file rw_file_perms;

# Create pid file.
type apmd_var_run_t, file_type, sysadmfile, pidfile;
file_type_auto_trans(apmd_t, var_run_t, apmd_var_run_t)
