#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Original files contributed to OpenSolaris.org under license by the
# United States Government (NSA) to Sun Microsystems, Inc.
#

#################################
#
# Rules for the rshd_t domain.
#
type rshd_t, domain, privlog;
type rshd_exec_t, file_type, sysadmfile, exec_type;

# Inherit and use descriptors from inetd.
allow rshd_t inetd_t:fd inherit_fd_perms;

# Use sockets inherited from inetd.
allow rshd_t inetd_t:tcp_socket rw_stream_socket_perms;

# Use capabilities.
allow rshd_t rshd_t:capability { net_bind_service setuid setgid fowner fsetid chown dac_override};

# Use the network.
can_network(rshd_t)

# Run shells in user_t.
domain_auto_trans(rshd_t, shell_exec_t, user_t)

# Send SIGCHLD to inetd on death.
allow rshd_t inetd_t:process sigchld;

# Allow socket ioctls not handled by other, more specific permissions.
allow rshd_t kernel_t:system net_io_control;
