#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Original files contributed to OpenSolaris.org under license by the
# United States Government (NSA) to Sun Microsystems, Inc.
#

#################################
#
# Rules for the passwd_t domain.
#
# passwd_t is the domain of the passwd program when
# it is executed through the spasswd wrapper.
# passwd_exec_t is the type of the spasswd wrapper.
# This domain and type is also used for wrappers for
# chfn and chsh.
#
type passwd_t, domain, privlog, auth;
type passwd_exec_t, file_type, sysadmfile, exec_type;

# Use capabilities.
allow passwd_t passwd_t:capability { chown dac_override fsetid };

# Inherit and use descriptors from login.
allow passwd_t local_login_t:fd inherit_fd_perms;
allow passwd_t remote_login_t:fd inherit_fd_perms;

# Update /etc/passwd and /etc/.pwd.lock.
allow passwd_t etc_t:dir rw_dir_perms;
allow passwd_t etc_t:dir file_dac_write;
allow passwd_t etc_t:file create_file_perms;
allow passwd_t etc_t:file file_dac_write;

# Update /etc/shadow.
allow passwd_t shadow_t:file create_file_perms;
allow passwd_t shadow_t:file { file_dac_read file_dac_write };
file_type_auto_trans(passwd_t, etc_t, shadow_t)

# Update lastlog.
allow passwd_t var_log_t:dir rw_dir_perms;
allow passwd_t var_log_t:file create_file_perms;
allow passwd_t var_log_t:file file_dac_write;
