#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Original files contributed to OpenSolaris.org under license by the
# United States Government (NSA) to Sun Microsystems, Inc.
#

#################################
#
# Rules for the utempter_t domain.
#
# This is the domain for the utempter program.  utempter is
# executed by xterm to update utmp and wtmp.
# utempter_exec_t is the type of the utempter binary.
#
type utempter_t, domain;
type utempter_exec_t, file_type, sysadmfile, exec_type;

# Update /var/adm/utmp and /var/adm/wtmp.
allow utempter_t var_log_t:dir rw_dir_perms;
allow utempter_t var_log_t:file create_file_perms;
allow utempter_t wtmp_t:file rw_file_perms;

# Allow ioctl and getattr /dev/ptmx.
allow utempter_t ptmx_t:chr_file { read getattr };

# Inherit and use descriptors from login.
allow utempter_t local_login_t:fd inherit_fd_perms;
